*,
*::after,
*::before {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
}

main {
    min-height: 100vh;
    background: linear-gradient(to right top, #7aebd6, #5bc6d6);
    display: grid;
    place-items: center;
}

.glass {
    background: white;
    min-height: 80vh;
    width: 60%;
    backdrop-filter: blur(2rem);
    background: linear-gradient(to right bottom, hsla(0, 0%, 100%, 0.8), hsla(0, 0%, 100%, 0.2));
    border-radius: 2rem;
    z-index: 100;
    position: relative;
}

/* backdrop-filter: blur() funktioniert nicht mit ::after/::before */
.glass::before,
.glass:after {
    content: '';
    z-index: -1;
    position: absolute;
    border-radius: 50%;
    background: white;
    background: linear-gradient(to right bottom, hsla(0, 0%, 100%, 0.2), hsla(0, 0%, 100%, 0.1));
}

.glass::before {
    height: 20rem;
    width: 20rem;
    top: -5%;
    right: -8%;
}
.glass::after {
    height: 15rem;
    width: 15rem;
    bottom: -5%;
    left: -15%;
}
